<% @links.each do |link| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to(link.title, link) %> 
       <% offset = 7
        s = link.url
        if s.index("https") != nil
          offset = 8
        end 
        if s.index("wwww") != nil
           offset += 3
        end
        comIndex = s.index("com")
        s = link.url[offset, + comIndex + 3 - offset]%>
        (<%= link_to(s,"http://"+s)%>)<br>
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by 
            <%  author = User.find_by_id(link.user_id) 
              if(author) %>
                <%= author.email %>
              <% else %>
                <%= "Inactive User" %>
              <% end %>
      </small>
      <% if link.user == current_user %>
       <%= link_to('Edit', edit_link_path(link)) %> 
      <% end %>
    </h2>
  </div>
<% end %>