<p id="notice"><%= notice %></p>

<h1>Listing Links</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Author email</th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td class="content"><%= link.title %></td>
        <td class="content"><%= link_to(link.url, link.url) %></td>
        <td class="content"> <%= User.find(link.user_id).email %></td>
        <td class="option"><%= link_to 'Show', link %></td> 
        <% if link.user == current_user %>
          <td class="option"><%= link_to 'Edit', edit_link_path(link) %></td>
          <td class="option"><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

