 <h1>
  	<%= link_to(@link.title, @link) %>
	<%= link_to 'Visit URL', @link.url, class: "btn btn-primary" %>
  	<br /> 
  	    <small>Submitted by
            <%= @link.user.email%>
         </small>
 </h1>
<div class="btn-group">
	<% if @link.user == current_user %>
			<%= link_to('Edit', edit_link_path(@link), class: "btn btn-default") %>
	<% end %>
	<%= link_to('Back', links_path, class: "btn btn-default") %>
</div>
